body {
    font-family: 'Montserrat', sans-serif;
}

.blog__title {
    margin: 20px 0;
}

.blog__img {
    max-width: 800px;
    margin-bottom: 20px;
    justify-self: start;
}

.login {
    font-size: 18px;
    text-align: right;
    color: rgb(24, 21, 21);
    padding: 15px 0;
}
